<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.wst.sse.ui.StructuredTextEditor"
            default="true"
            extensions="xq,xql,xqy,xquery"
            id="org.eclipse.wst.xquery.sse.ui.xqueryeditor"
            name="XQuery SSE Editor"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont">
         <contentTypeBinding
               contentTypeId="org.eclipse.wst.xquery.sse.core.xquery">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.editorConfiguration">
      <sourceViewerConfiguration
            class="org.eclipse.wst.xquery.sse.ui.internal.editor.XQueryStructuredTextViewerConfiguration"
            target="org.eclipse.wst.xquery.sse.ui.xqueryeditor">
      </sourceViewerConfiguration>
      <provisionalDefinition
            target="org.eclipse.wst.xquery.sse.core.xquery"
            type="spellingregions"
            value="XML_CONTENT">
      </provisionalDefinition>
      <provisionalConfiguration
            class="org.eclipse.wst.xquery.sse.ui.internal.editor.XQueryFormatter"
            target="org.eclipse.wst.xquery.sse.ui.xqueryeditor"
            type="slaveformattingstrategy">
      </provisionalConfiguration>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.eclipse.wst.xquery.sse.ui.context1"
            name="name">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.wst.xquery.preferences.editor"
            class="org.eclipse.wst.xquery.sse.ui.internal.preferences.SyntaxColoringPage"
            id="org.eclipse.wst.xquery.sse.ui.syntaxcoloring"
            name="Syntax Coloring">
      </page>
      <page
            category="org.eclipse.wst.xquery.preferences.editor"
            class="org.eclipse.wst.xquery.sse.ui.internal.preferences.XQDTTemplatePreferencePage"
            id="org.eclipse.wst.xquery.sse.ui.template"
            name="Template">
      </page>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.breakpoint">
      <breakpointContribution>
         <provider
               class="org.eclipse.wst.xquery.sse.ui.internal.breakpoint.BreakpointProvider"
               contentTypes="org.eclipse.wst.xquery.sse.core.xquery">
         </provider>
      </breakpointContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.eclipse.jface.text.templates.TemplateContextType"
            id="org.eclipse.wst.xquery.sse.ui.contextType.prolog1"
            name="Prolog Part 1"
            registryId="org.eclipse.wst.xquery.sse.ui.contextTypeRegistry">
      </contextType>
      <contextType
            class="org.eclipse.jface.text.templates.TemplateContextType"
            id="org.eclipse.wst.xquery.sse.ui.contextType.prolog2"
            name="Prolog Part 2"
            registryId="org.eclipse.wst.xquery.sse.ui.contextTypeRegistry">
      </contextType>
      <contextType
            class="org.eclipse.jface.text.templates.TemplateContextType"
            id="org.eclipse.wst.xquery.sse.ui.contextType.expr"
            name="Expression"
            registryId="org.eclipse.wst.xquery.sse.ui.contextTypeRegistry">
      </contextType>
       <include
            file="templates/templates.xml"
            translations="templates/templates.properties">
      </include>
      <include
            file="templates/system-function-templates.xml"
            translations="templates/system-function-templates.properties">
      </include>
      <include
            file="templates/string-xml-templates.xml"
            translations="templates/string-xml-templates.properties">
      </include>
      <contextTypeRegistry
            id="org.eclipse.wst.xquery.sse.ui.contextTypeRegistry">
      </contextTypeRegistry>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.wst.xquery.sse.ui.internal.style.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
