<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="interpreterInstallTypeAddDialogBlock" name="Add Interpreter Dialog Block" schema="schema/interpreterInstallTypeAddDialogBlock.exsd"/>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.wst.xquery.internal.debug.ui.launchConfigurations.XQDTTabGroup"
            description="Create a XQuery launch configuration."
            id="org.eclipse.wst.xquery.debug.ui.XQDTTabGroup"
            type="org.eclipse.wst.xquery.launching.XQDTLaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.wst.xquery.launching.XQDTLaunchConfigurationType"
            icon="$nl$/icons/obj16/xquery_dbg.gif"
            id="org.eclipse.wst.xquery.debug.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.wst.xquery.internal.debug.ui.launcher.XQDTLaunchShortcut"
            icon="$nl$/icons/obj16/xquery_dbg.gif"
            id="org.eclipse.wst.xquery.debug.ui.launchShortcut"
            label="XQuery Script"
            modes="run,debug">
         <description
               description="Executes an XQuery main module"
               mode="run">
         </description>
         <description
               description="Executes an XQuery main module"
               mode="debug">
         </description>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <adapt
                              type="org.eclipse.dltk.core.IModelElement">
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.wst.xquery.launching.isMainModule">
                           </test>
                        </adapt>
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <adapt
                                 type="org.eclipse.dltk.core.IModelElement">
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.wst.xquery.launching.isMainModule">
                              </test>
                           </adapt>
                        </adapt>
                     </or>
                  </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="XQuery"
                  mode="run">
            </contextLabel>
            <contextLabel
                  label="XQuery"
                  mode="debug">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.wst.xquery.properties"
            class="org.eclipse.wst.xquery.internal.debug.ui.preferences.XQDTDebugEnginesPreferencePage"
            id="org.eclipse.wst.xquery.properties.debug"
            name="Debug">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.wst.xquery.core.nature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.eclipse.wst.xquery.properties.debug"
            class="org.eclipse.wst.xquery.internal.debug.ui.preferences.XQDTEnginesPreferencePage"
            id="org.eclipse.wst.xquery.properties.debug.engines"
            name="Engines">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.wst.xquery.core.nature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.wst.xquery.preferences"
            class="org.eclipse.wst.xquery.internal.debug.ui.interpreters.XQDTInterpreterPreferencePage"
            id="org.eclipse.wst.xquery.preferences.interpreters"
            name="Interpreters">
      </page>
      <page
            category="org.eclipse.wst.xquery.preferences"
            class="org.eclipse.wst.xquery.internal.debug.ui.preferences.XQDTDebugEnginesPreferencePage"
            id="org.eclipse.wst.xquery.preferences.debug"
            name="Debug">
      </page>
      <page
            category="org.eclipse.wst.xquery.preferences.debug"
            class="org.eclipse.wst.xquery.internal.debug.ui.preferences.XQDTEnginesPreferencePage"
            id="org.eclipse.wst.xquery.preferences.debug.engines"
            name="Engines">
      </page>
   </extension>
   <extension
         point="org.eclipse.dltk.debug.ui.language">
      <language
            class="org.eclipse.wst.xquery.debug.ui.XQDTDebugUILanguageToolkit"
            nature="org.eclipse.wst.xquery.core.nature">
      </language>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.buildpathContainerPage">
      <buildpathContainerPage
            class="org.eclipse.wst.xquery.internal.debug.ui.interpreters.XQDTInterpreterContainerWizardPage"
            id="org.eclipse.wst.xquery.launching.INTERPRETER_CONTAINER"
            name="XQuery Interpreter Libraries"
            nature="org.eclipse.wst.xquery.core.nature">
      </buildpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.wst.xquery.debug.ui.XQDTDebugModelPresentation"
            id="org.eclipse.wst.xquery.debug.core.xqdtModel">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            contextId="org.eclipse.dltk.debug.ui.debugging"
            debugModelId="org.eclipse.wst.xquery.debug.core.xqdtModel">
      </modelContextBinding>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.wst.xquery.debug.ui.launchShortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+X X">
      </key>
      <key
            commandId="org.eclipse.wst.xquery.debug.ui.launchShortcut.debug"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+D X">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="XQuery"
            id="org.eclipse.wst.xquery.debug.ui.launchShortcut.run"
            name="XQuery">
      </command>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="XQuery"
            id="org.eclipse.wst.xquery.debug.ui.launchShortcut.debug"
            name="XQuery">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.wst.xquery.internal.ui.editor.XQDTEditor"
            class="org.eclipse.wst.xquery.internal.debug.ui.XQDTEditorDebugAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
         <adapter
               type="org.eclipse.debug.ui.actions.IRunToLineTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.eclipse.wst.xquery.ui.editor.XQDTEditor.BreakpointRulerActions"
            targetID="org.eclipse.wst.xquery.ui.editor.XQDTEditor">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="XQDTEditor.ToggleBreakpointAction"
               label="Toggle &amp;Breakpoint"
               style="push">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.eclipse.wst.xquery.debug.ui.rulerContribution"
            targetID="#XQDTRulerContext">
         <action
               class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
               id="EnableDisableBreakpointAction"
               label="Disable Breakpoint"
               menubarPath="debug">
         </action>
         <action
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               icon="$nl$/icons/obj16/brkp_obj.gif"
               id="ToggleBreakpointAction"
               label="Toggle &amp;Breakpoint"
               menubarPath="debug">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.wst.xquery.debug.ui.interpreterInstallTypeAddDialogBlock">
      <addDialogBlock
            class="org.eclipse.wst.xquery.internal.debug.ui.interpreters.XQDTJavaInterpreterAddInterpreterDialogBlock"
            interpreterInstallTypeID="org.eclipse.wst.xquery.launching.JavaInterpreterInstallType">
      </addDialogBlock>
   </extension>
   <extension
         point="org.eclipse.core.variables.valueVariables">
      <variable
            description="The XQuery file being executed"
            name="query_file"
            readOnly="true">
      </variable>
   </extension>
</plugin>
