<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.xquery.debug.ui.interpreterInstallTypeAddDialogBlock">
      <addDialogBlock
            class="org.eclipse.wst.xquery.internal.debug.ui.zorba.interpreters.ZorbaAddInterpreterDialogBlock"
            interpreterInstallTypeID="org.eclipse.wst.xquery.launching.ZorbaInstallType">
      </addDialogBlock>
   </extension>

</plugin>
