<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.wst.xquery.ui.handlers.ZorbaXQDocHandler"
            commandId="org.eclipse.wst.xquery.ui.commands.xqdocCommand">
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.wst.xquery.launching.interpreterType"
                        value="org.eclipse.wst.xquery.launching.ZorbaInstallType">
                  </test>
               </iterate>
            </and>
         </activeWhen>
      </handler>
   </extension>
-->
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.eclipse.wst.xquery.internal.ui.templates.ZorbaTemplateContentType"
            id="org.eclipse.wst.xquery.ui.templates.ZorbaTemplateContentType"
            name="Zorba Extensions">
      </contextType>
      <include
            file="templates/templates.xml"
            translations="templates/templates.properties">
      </include>
   </extension>
   <extension
         id="ZorbaTemplateProposalComputer"
         point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
      <scriptCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.dltk.ui.templateProposalCategory"
            class="org.eclipse.wst.xquery.internal.ui.templates.ZorbaTemplateProposalComputer"
            toolkitId="org.eclipse.wst.xquery.core.nature">
         <partition
               type="__dftl_partition_content_type">
         </partition>
      </scriptCompletionProposalComputer>
   </extension>

</plugin>
