<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <!-- View and Editor Context Menu -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            nameFilter="*.xml"
            id="org.eclipse.wst.xml.security.ui.popupMenu">
         <menu
               label="%xmlSecurityMenu"
               path="additions"
               id="org.eclipse.wst.xml.security.ui.popupSubMenu">
            <groupMarker name="canonicalizeGroup"/>
            <separator name="canonicalizeSeparator"/>
            <groupMarker name="signGroup"/>
            <separator name="signSeparator"/>
            <groupMarker name="verifyGroup"/>
            <separator name="verifySeparator"/>
            <groupMarker name="encryptGroup"/>
            <separator name="encryptSeparator"/>
            <groupMarker name="decryptGroup"/>
            <separator name="additions"/>
         </menu>
         <action
               class="org.eclipse.wst.xml.security.ui.actions.DecryptQuickAction"
               enablesFor="1"
               icon="icons/new_decrypt.gif"
               id="org.eclipse.wst.xml.security.ui.actions.QuickDecryption"
               label="%quickDecryptionAction"
               menubarPath="org.eclipse.wst.xml.security.ui.popupSubMenu/decryptGroup"
               tooltip="%quickDecryptionTooltip">
         </action>
         <action
               class="org.eclipse.wst.xml.security.ui.actions.DecryptNewAction"
               enablesFor="1"
               icon="icons/new_decrypt.gif"
               id="org.eclipse.wst.xml.security.ui.actions.NewDecryption"
               label="%newDecryptionAction"
               menubarPath="org.eclipse.wst.xml.security.ui.popupSubMenu/decryptGroup"
               tooltip="%newDecryptionTooltip">
         </action>
         <action
               class="org.eclipse.wst.xml.security.ui.actions.EncryptQuickAction"
               enablesFor="1"
               icon="icons/new_encrypt.gif"
               id="org.eclipse.wst.xml.security.ui.actions.QuickEncryption"
               label="%quickEncryptionAction"
               menubarPath="org.eclipse.wst.xml.security.ui.popupSubMenu/encryptGroup"
               tooltip="%quickEncryptionTooltip">
         </action>
         <action
               class="org.eclipse.wst.xml.security.ui.actions.EncryptNewAction"
               enablesFor="1"
               icon="icons/new_encrypt.gif"
               id="org.eclipse.wst.xml.security.ui.actions.NewEncryption"
               label="%newEncryptionAction"
               menubarPath="org.eclipse.wst.xml.security.ui.popupSubMenu/encryptGroup"
               tooltip="%newEncryptionTooltip">
         </action>
         <action
               class="org.eclipse.wst.xml.security.ui.actions.VerifyQuickAction"
               enablesFor="1"
               icon="icons/new_verify.gif"
               id="org.eclipse.wst.xml.security.ui.actions.QuickVerification"
               label="%quickVerificationAction"
               menubarPath="org.eclipse.wst.xml.security.ui.popupSubMenu/verifyGroup"
               tooltip="%quickVerificationTooltip">
         </action>
         <action
               class="org.eclipse.wst.xml.security.ui.actions.VerifyNewAction"
               enablesFor="1"
               icon="icons/new_verify.gif"
               id="org.eclipse.wst.xml.security.ui.actions.NewVerification"
               label="%newVerificationAction"
               menubarPath="org.eclipse.wst.xml.security.ui.popupSubMenu/verifyGroup"
               tooltip="%newVerificationTooltip">
         </action>
         <action
               class="org.eclipse.wst.xml.security.ui.actions.SignQuickAction"
               enablesFor="1"
               icon="icons/new_sign.gif"
               id="org.eclipse.wst.xml.security.ui.actions.QuickSignature"
               label="%quickSignatureAction"
               menubarPath="org.eclipse.wst.xml.security.ui.popupSubMenu/signGroup"
               tooltip="%quickSignatureTooltip">
         </action>
         <action
               class="org.eclipse.wst.xml.security.ui.actions.SignNewAction"
               enablesFor="1"
               icon="icons/new_sign.gif"
               id="org.eclipse.wst.xml.security.ui.actions.NewSignature"
               label="%newSignatureAction"
               menubarPath="org.eclipse.wst.xml.security.ui.popupSubMenu/signGroup"
               tooltip="%newSignatureTooltip">
         </action>
         <action
               class="org.eclipse.wst.xml.security.ui.actions.CanonicalizeAction"
               enablesFor="1"
               icon="icons/new_canon.gif"
               id="org.eclipse.wst.xml.security.ui.actions.CanonicalizationRemoveComments"
               label="%newCanonicalizationAction"
               menubarPath="org.eclipse.wst.xml.security.ui.popupSubMenu/canonicalizeGroup"
               tooltip="%newCanonicalizationTooltip">
         </action>
         <action
               class="org.eclipse.wst.xml.security.ui.actions.CanonicalizeAction"
               enablesFor="1"
               icon="icons/new_canon.gif"
               id="org.eclipse.wst.xml.security.ui.actions.CanonicalizationMaintainComments"
               label="%newCanonicalizationCommentsAction"
               menubarPath="org.eclipse.wst.xml.security.ui.popupSubMenu/canonicalizeGroup"
               tooltip="%newCanonicalizationCommentsTooltip">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.wst.xml.security.ui.verify.contextMenu"
            objectClass="org.eclipse.wst.xml.security.core.verify.VerificationResult">
         <action
               class="org.eclipse.wst.xml.security.ui.actions.RefreshSignatures"
               icon="icons/refresh.gif"
               id="org.eclipse.wst.xml.security.ui.actions.refreshSignatures"
               label="%refreshActionLabel"
               tooltip="%refreshActionTooltip">
         </action>
         <action
               class="org.eclipse.wst.xml.security.ui.actions.ShowSignatureProperties"
               icon="icons/properties.gif"
               id="org.eclipse.wst.xml.security.ui.actions.showSignatureProperties"
               label="%showPropertiesActionLabel"
               tooltip="%showPropertiesActionTooltip">
         </action>
      </objectContribution>
   </extension>
   <extension point="org.eclipse.ui.viewActions">
      <viewContribution
               id="org.eclipse.wst.xml.security.ui.actions.signature.view"
               targetID="org.eclipse.wst.xml.security.ui.SignatureView">
         <action
               class="org.eclipse.wst.xml.security.ui.actions.RefreshSignatures"
               icon="icons/refresh.gif"
               id="org.eclipse.wst.xml.security.ui.actions.refreshSignatures"
               label="%refreshActionLabel"
               tooltip="%refreshActionTooltip"
               menubarPath="additions"
               toolbarPath="additions"
               enablesFor="*">
         </action>
         <action
               class="org.eclipse.wst.xml.security.ui.actions.ShowSignatureProperties"
               icon="icons/properties.gif"
               id="org.eclipse.wst.xml.security.ui.actions.showSignatureProperties"
               label="%showPropertiesActionLabel"
               tooltip="%showPropertiesActionTooltip"
               menubarPath="additions"
               toolbarPath="additions"
               enablesFor="1">
         </action>
      </viewContribution>
   </extension>
   <!-- Views -->
   <extension
         id="org.eclipse.wst.xml.security.ui.views"
         name="org.eclipse.wst.xml.security.ui.views"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.wst.xml"
            class="org.eclipse.wst.xml.security.ui.verify.SignatureView"
            icon="icons/new_verify.gif"
            id="org.eclipse.wst.xml.security.ui.SignatureView"
            name="%xmlSignatureView">
      </view>
   </extension>
   <!-- Preference Pages -->
   <extension
         id="org.eclipse.wst.xml.security.ui.preferences"
         name="org.eclipse.wst.xml.security.ui.preferences"
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.wst.xml.ui.preferences.xml"
            class="org.eclipse.wst.xml.security.ui.preferences.PreferencePageXmlSecurity"
            id="org.eclipse.wst.xml.security.ui.preferences.XmlSecurity"
            name="%xmlSecurityPreferencePage">
      </page>
      <page
      		category="org.eclipse.wst.xml.security.ui.preferences.XmlSecurity"
            name="%xmlSignaturePreferencePage"
            class="org.eclipse.wst.xml.security.ui.preferences.PreferencePageSignature"
            id="org.eclipse.wst.xml.security.ui.preferences.Signatures">
      </page>
      <page
      		category="org.eclipse.wst.xml.security.ui.preferences.XmlSecurity"
            name="%xmlEncryptionPreferencePage"
            class="org.eclipse.wst.xml.security.ui.preferences.PreferencePageEncryption"
            id="org.eclipse.wst.xml.security.ui.preferences.Encryption">
      </page>
   </extension>
   <extension
         id="org.eclipse.wst.xml.security.ui.preferenceinitializer"
         name="org.eclipse.wst.xml.security.ui.preferenceinitializer"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.wst.xml.security.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <!-- Cheat Sheets -->

</plugin>
