<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- View and Editor Context Menu -->
   <!-- Views -->
   <extension
         id="org.eclipse.wst.xml.security.ui.views"
         name="org.eclipse.wst.xml.security.ui.views"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.wst.xml"
            class="org.eclipse.wst.xml.security.ui.verify.SignatureView"
            icon="icons/new_verify.gif"
            id="org.eclipse.wst.xml.security.ui.SignatureView"
            name="%xmlSignatureView">
      </view>
   </extension>
   <!-- Preference Pages -->
   <extension
         id="org.eclipse.wst.xml.security.ui.preferences"
         name="org.eclipse.wst.xml.security.ui.preferences"
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.wst.xml.ui.preferences.xml"
            class="org.eclipse.wst.xml.security.ui.preferences.PreferencePageXmlSecurity"
            id="org.eclipse.wst.xml.security.ui.preferences.XmlSecurity"
            name="%xmlSecurityPreferencePage">
      </page>
      <page
            category="org.eclipse.wst.xml.security.ui.preferences.XmlSecurity"
            class="org.eclipse.wst.xml.security.ui.preferences.PreferencePageSignature"
            id="org.eclipse.wst.xml.security.ui.preferences.Signature"
            name="%xmlSignaturePreferencePage">
      </page>
      <page
      		category="org.eclipse.wst.xml.security.ui.preferences.XmlSecurity"
            name="%xmlEncryptionPreferencePage"
            class="org.eclipse.wst.xml.security.ui.preferences.PreferencePageEncryption"
            id="org.eclipse.wst.xml.security.ui.preferences.Encryption">
      </page>
   </extension>
   <extension
         id="org.eclipse.wst.xml.security.ui.preferenceinitializer"
         name="org.eclipse.wst.xml.security.ui.preferenceinitializer"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.wst.xml.security.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%category.description"
            id="org.eclipse.wst.xml.security.ui.canonCategory"
            name="%category.name">
      </category>
      <category
            description="%category.description.0"
            id="org.eclipse.wst.xml.security.ui.signCategory"
            name="%category.name.0">
      </category>
      <category
            description="%category.description.1"
            id="org.eclipse.wst.xml.security.ui.verifyCategory"
            name="%category.name.1">
      </category>
      <category
            description="%category.description.2"
            id="org.eclipse.wst.xml.security.ui.encryptCategory"
            name="%category.name.2">
      </category>
      <category
            description="%category.description.3"
            id="org.eclipse.wst.xml.security.ui.decryptCategory"
            name="%category.name.3">
      </category>
      <command
            categoryId="org.eclipse.wst.xml.security.ui.canonCategory"
            description="%command.description"
            id="org.eclipse.wst.xml.security.ui.canonicalizeMaintain"
            name="%command.name">
      </command>
      <command
            categoryId="org.eclipse.wst.xml.security.ui.canonCategory"
            description="%command.description.0"
            id="org.eclipse.wst.xml.security.ui.canonicalizeRemove"
            name="%command.name.0">
      </command>
      <command
            categoryId="org.eclipse.wst.xml.security.ui.signCategory"
            description="%command.description.1"
            id="org.eclipse.wst.xml.security.ui.sign"
            name="%command.name.1">
      </command>
      <command
            categoryId="org.eclipse.wst.xml.security.ui.signCategory"
            description="%command.description.2"
            id="org.eclipse.wst.xml.security.ui.signQuick"
            name="%command.name.2">
      </command>
      <command
            categoryId="org.eclipse.wst.xml.security.ui.verifyCategory"
            description="%command.description.3"
            id="org.eclipse.wst.xml.security.ui.verify"
            name="%command.name.3">
      </command>
      <command
            categoryId="org.eclipse.wst.xml.security.ui.verifyCategory"
            description="%command.description.4"
            id="org.eclipse.wst.xml.security.ui.verifyQuick"
            name="%command.name.4">
      </command>
      <command
            categoryId="org.eclipse.wst.xml.security.ui.encryptCategory"
            description="%command.description.5"
            id="org.eclipse.wst.xml.security.ui.encrypt"
            name="%command.name.5">
      </command>
      <command
            categoryId="org.eclipse.wst.xml.security.ui.encryptCategory"
            description="%command.description.6"
            id="org.eclipse.wst.xml.security.ui.encryptQuick"
            name="%command.name.6">
      </command>
      <command
            categoryId="org.eclipse.wst.xml.security.ui.decryptCategory"
            description="%command.description.7"
            id="org.eclipse.wst.xml.security.ui.decrypt"
            name="%command.name.7">
      </command>
      <command
            categoryId="org.eclipse.wst.xml.security.ui.decryptCategory"
            description="%command.description.8"
            id="org.eclipse.wst.xml.security.ui.decryptQuick"
            name="%command.name.8">
      </command>
      <command
            description="%command.description.9"
            id="org.eclipse.wst.xml.security.ui.refreshSignatures"
            name="%command.name.9">
      </command>
      <command
            description="%command.description.10"
            id="org.eclipse.wst.xml.security.ui.showProperties"
            name="%command.name.10">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.wst.xml.security.ui.commands.NewCanonicalizationMaintainCommand"
            commandId="org.eclipse.wst.xml.security.ui.canonicalizeMaintain">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.wst.xml.security.ui.commands.NewCanonicalizationRemoveCommand"
            commandId="org.eclipse.wst.xml.security.ui.canonicalizeRemove">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.wst.xml.security.ui.commands.NewSignatureCommand"
            commandId="org.eclipse.wst.xml.security.ui.sign">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.wst.xml.security.ui.commands.QuickSignatureCommand"
            commandId="org.eclipse.wst.xml.security.ui.signQuick">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.wst.xml.security.ui.commands.NewVerificationCommand"
            commandId="org.eclipse.wst.xml.security.ui.verify">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.wst.xml.security.ui.commands.QuickVerificationCommand"
            commandId="org.eclipse.wst.xml.security.ui.verifyQuick">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.wst.xml.security.ui.commands.NewEncryptionCommand"
            commandId="org.eclipse.wst.xml.security.ui.encrypt">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.wst.xml.security.ui.commands.QuickEncryptionCommand"
            commandId="org.eclipse.wst.xml.security.ui.encryptQuick">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.wst.xml.security.ui.commands.NewDecryptionCommand"
            commandId="org.eclipse.wst.xml.security.ui.decrypt">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.wst.xml.security.ui.commands.QuickDecryptionCommand"
            commandId="org.eclipse.wst.xml.security.ui.decryptQuick">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.wst.xml.security.ui.commands.RefreshSignaturesCommand"
            commandId="org.eclipse.wst.xml.security.ui.refreshSignatures">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorPart">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.wst.xml.security.ui.commands.ShowPropertiesCommand"
            commandId="org.eclipse.wst.xml.security.ui.showProperties">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.eclipse.wst.xml.security.core.verify.VerificationResult">
                  </instanceof>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="%menu.label">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="activePartId">
                     <equals
                           value="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorPart">
                     </equals>
                  </with>
                  <and>
                     <with
                           variable="activePartId">
                        <or>
                           <equals
                                 value="org.eclipse.ui.navigator.ProjectExplorer">
                           </equals>
                           <equals
                                 value="org.eclipse.ui.views.ResourceNavigator">
                           </equals>
                           <equals
                                 value="org.eclipse.jdt.ui.PackageExplorer">
                           </equals>
                        </or>
                     </with>
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.eclipse.wst.xml.ui.perspective">
                        </equals>
                     </with>
                  </and>
               </or>
            </visibleWhen>
            <command
                  commandId="org.eclipse.wst.xml.security.ui.canonicalizeMaintain"
                  helpContextId="org.eclipse.wst.xml.seucrity.doc.canonicalize"
                  style="push"
                  tooltip="%command.tooltip">
            </command>
            <command
                  commandId="org.eclipse.wst.xml.security.ui.canonicalizeRemove"
                  helpContextId="org.eclipse.wst.xml.seucrity.doc.canonicalize"
                  style="push"
                  tooltip="%command.tooltip.0">
            </command>
            <separator
                  name="org.eclipse.wst.xml.security.ui.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.wst.xml.security.ui.sign"
                  helpContextId="org.eclipse.wst.xml.seucrity.doc.wizard_signature"
                  icon="icons/new_sign.gif"
                  style="push"
                  tooltip="%command.tooltip.1">
            </command>
            <command
                  commandId="org.eclipse.wst.xml.security.ui.signQuick"
                  helpContextId="org.eclipse.wst.xml.seucrity.doc.quick_signature"
                  style="push"
                  tooltip="%command.tooltip.2">
            </command>
            <separator
                  name="org.eclipse.wst.xml.security.ui.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.wst.xml.security.ui.verify"
                  helpContextId="org.eclipse.wst.xml.seucrity.doc.view_verification"
                  icon="icons/new_verify.gif"
                  style="push"
                  tooltip="%command.tooltip.3">
            </command>
            <command
                  commandId="org.eclipse.wst.xml.security.ui.verifyQuick"
                  helpContextId="org.eclipse.wst.xml.seucrity.doc.quick_verification"
                  style="push"
                  tooltip="%command.tooltip.4">
            </command>
            <separator
                  name="org.eclipse.wst.xml.security.ui.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.wst.xml.security.ui.encrypt"
                  helpContextId="org.eclipse.wst.xml.seucrity.doc.wizard_encryption"
                  icon="icons/new_encrypt.gif"
                  style="push"
                  tooltip="%command.tooltip.5">
            </command>
            <command
                  commandId="org.eclipse.wst.xml.security.ui.encryptQuick"
                  helpContextId="org.eclipse.wst.xml.seucrity.doc.quick_encryption"
                  style="push"
                  tooltip="%command.tooltip.6">
            </command>
            <separator
                  name="org.eclipse.wst.xml.security.ui.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.wst.xml.security.ui.decrypt"
                  helpContextId="org.eclipse.wst.xml.seucrity.doc.wizard_decryption"
                  icon="icons/new_decrypt.gif"
                  style="push"
                  tooltip="%command.tooltip.7">
            </command>
            <command
                  commandId="org.eclipse.wst.xml.security.ui.decryptQuick"
                  helpContextId="org.eclipse.wst.xml.seucrity.doc.quick_decryption"
                  style="push"
                  tooltip="%command.tooltip.8">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.wst.xml.security.ui.SignatureView">
         <command
               commandId="org.eclipse.wst.xml.security.ui.showProperties"
               icon="icons/properties.gif"
               style="push"
               tooltip="%command.tooltip.9">
         </command>
         <command
               commandId="org.eclipse.wst.xml.security.ui.refreshSignatures"
               icon="icons/refresh.gif"
               style="push"
               tooltip="%command.tooltip.10">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.wst.xml.security.ui.SignatureView">
         <command
               commandId="org.eclipse.wst.xml.security.ui.showProperties"
               icon="icons/properties.gif"
               label="%command.label"
               style="push"
               tooltip="%command.tooltip.11">
         </command>
         <command
               commandId="org.eclipse.wst.xml.security.ui.refreshSignatures"
               icon="icons/refresh.gif"
               label="%command.label.0"
               style="push"
               tooltip="%command.tooltip.12">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.wst.xml.security.ui.SignatureView">
         <command
               commandId="org.eclipse.wst.xml.security.ui.showProperties"
               icon="icons/properties.gif"
               label="%command.label.1"
               style="push"
               tooltip="%command.tooltip.13">
         </command>
         <command
               commandId="org.eclipse.wst.xml.security.ui.refreshSignatures"
               icon="icons/refresh.gif"
               label="%command.label.2"
               style="push"
               tooltip="%command.tooltip.14">
         </command>
      </menuContribution>
   </extension>
   <!-- Cheat Sheets -->

</plugin>
