<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.dltk.launching.debuggingEngine">
      <engineContribution
            natureId="org.eclipse.wst.xquery.core.nature">
         <engine
               class="org.eclipse.wst.xquery.debug.debugger.zorba.ZorbaDebuggerRunnerFactory"
               description="XQuery debugger avaialble in your Zorba distribution"
               id="org.eclipse.wst.xquery.debug.engines.zorba"
               name="Zorba Debugger"
               priority="99">
         </engine>
      </engineContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.wst.xquery.debug.debugger.zorba.preferences.ZorbaDebuggerPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.wst.xquery.properties.debug.engines"
            class="org.eclipse.wst.xquery.debug.debugger.zorba.preferences.ZorbaDebuggerPreferencePage"
            id="org.eclipse.wst.xquery.properties.debug.engines.zorba"
            name="Zorba Debugger">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.wst.xquery.core.nature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.wst.xquery.preferences.debug.engines"
            class="org.eclipse.wst.xquery.debug.debugger.zorba.preferences.ZorbaDebuggerPreferencePage"
            id="org.eclipse.wst.xquery.preferences.debug.engines.zorba"
            name="Zorba Debugger">
      </page>
   </extension>

</plugin>
