<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dltk.launching.interpreterInstallTypes">
      <interpreterInstallType
            class="org.eclipse.wst.xquery.internal.launching.marklogic.MarkLogicInstallType"
            id="org.eclipse.wst.xquery.launching.MarkLogicInstallType">
      </interpreterInstallType>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
      <project-facet
            id="marklogicUriResolver">
         <label>
            MarkLogic URI Resolver
         </label>
         <member
               category="uriResolverCategory">
         </member>            
      </project-facet>
      <project-facet-version
            facet="marklogicUriResolver"
            version="1.0">
         <group-member
               id="uriResolvers">
         </group-member>
         <constraint>
            <conflicts
                  group="uriResolvers">
            </conflicts>
         </constraint>
         <action
               type="install">
            <delegate
                  class="org.eclipse.wst.xquery.internal.launching.marklogic.MarkLogicUriResolverFacetInstallActionDelegate">
            </delegate>
         </action>
         <action
               type="uninstall">
            <delegate
                  class="org.eclipse.wst.xquery.internal.core.facets.UriResolverFacetUninstallActionDelegate">
            </delegate>
         </action>
      </project-facet-version>
   </extension>
   <extension
         id="marklogicUriResolver"
         point="org.eclipse.wst.xquery.core.uriResolver">
      <resolver
            class="org.eclipse.wst.xquery.internal.launching.marklogic.MarkLogicUriResolver"
            interpreterInstallTypeID="org.eclipse.wst.xquery.launching.MarkLogicInstallType">
      </resolver>
   </extension>
   <extension
         point="org.eclipse.wst.xquery.core.implicitImports">
      <importGroup
            activator="org.eclipse.wst.xquery.internal.launching.marklogic.MarkLogicCompletionPrefixActivator">
         <builtinPrefix
               builtinModulePath="/MarkLogic/builtins/dav.xq"
               name="dav">
         </builtinPrefix>
         <builtinPrefix
               builtinModulePath="/MarkLogic/builtins/dir.xq"
               name="dir">
         </builtinPrefix>
         <builtinPrefix
               builtinModulePath="/MarkLogic/builtins/error.xq"
               name="error">
         </builtinPrefix>
         <builtinPrefix
               builtinModulePath="/MarkLogic/builtins/lock.xq"
               name="lock">
         </builtinPrefix>
         <builtinPrefix
               builtinModulePath="/MarkLogic/builtins/prop.xq"
               name="prop">
         </builtinPrefix>
         <builtinPrefix
               builtinModulePath="/MarkLogic/builtins/sec.xq"
               name="sec">
         </builtinPrefix>
         <builtinPrefix
               builtinModulePath="/MarkLogic/builtins/xqe.xq"
               name="xqe">
         </builtinPrefix>
         <builtinPrefix
               builtinModulePath="/MarkLogic/builtins/cts.xq"
               name="cts">
         </builtinPrefix>
         <builtinPrefix
               builtinModulePath="/MarkLogic/builtins/dbg.xq"
               name="dbg">
         </builtinPrefix>
         <builtinPrefix
               builtinModulePath="/MarkLogic/builtins/map.xq"
               name="map">
         </builtinPrefix>
         <builtinPrefix
               builtinModulePath="/MarkLogic/builtins/math.xq"
               name="math">
         </builtinPrefix>
         <builtinPrefix
               builtinModulePath="/MarkLogic/builtins/prof.xq"
               name="prof">
         </builtinPrefix>
         <builtinPrefix
               builtinModulePath="/MarkLogic/builtins/spell.xq"
               name="spell">
         </builtinPrefix>
         <builtinPrefix
               builtinModulePath="/MarkLogic/builtins/xdmp.xq"
               name="xdmp">
         </builtinPrefix>
      </importGroup>
   </extension>

</plugin>
