<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dltk.launching.interpreterInstallTypes">
      <interpreterInstallType
            class="org.eclipse.wst.xquery.internal.launching.marklogic.MarkLogicInstallType"
            id="org.eclipse.wst.xquery.launching.MarkLogicInstallType">
      </interpreterInstallType>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
      <project-facet
            id="marklogicUriResolver">
         <label>
            MarkLogic URI Resolver
         </label>
         <member
               category="uriResolverCategory">
         </member>            
      </project-facet>
      <project-facet-version
            facet="marklogicUriResolver"
            version="1.0">
         <group-member
               id="uriResolvers">
         </group-member>
         <constraint>
            <conflicts
                  group="uriResolvers">
            </conflicts>
         </constraint>
         <action
               type="install">
            <delegate
                  class="org.eclipse.wst.xquery.internal.launching.marklogic.MarkLogicUriResolverFacetInstallActionDelegate">
            </delegate>
         </action>
         <action
               type="uninstall">
            <delegate
                  class="org.eclipse.wst.xquery.internal.core.facets.UriResolverFacetUninstallActionDelegate">
            </delegate>
         </action>
      </project-facet-version>
   </extension>
   <extension
         id="marklogicUriResolver"
         point="org.eclipse.wst.xquery.core.uriResolver">
      <resolver
            class="org.eclipse.wst.xquery.internal.launching.marklogic.MarkLogicUriResolver"
            interpreterInstallTypeID="org.eclipse.wst.xquery.launching.MarkLogicInstallType">
      </resolver>
   </extension>
   <extension
         point="org.eclipse.wst.xquery.launching.builtinModules">
      <searchPath
            installType="org.eclipse.wst.xquery.launching.MarkLogicInstallType"
            path="Resources/modules"
            relative="true">
      </searchPath>
   </extension>
   <extension
         point="org.eclipse.wst.xquery.launching.implicitImports">
      <prefixes
            activator="org.eclipse.wst.xquery.internal.launching.marklogic.MarkLogicCompletionPrefixActivator">
         <prefix
               path="MarkLogic/builtins/cts.xqy"
               name="cts">
         </prefix>
         <prefix
               path="MarkLogic/builtins/dav.xqy"
               name="dav">
         </prefix>
         <prefix
               path="MarkLogic/builtins/debug.xqy"
               name="dbg">
         </prefix>
         <prefix
               path="MarkLogic/builtins/directory.xqy"
               name="dir">
         </prefix>
         <prefix
               path="MarkLogic/builtins/error.xqy"
               name="error">
         </prefix>
         <prefix
               path="MarkLogic/builtins/lock.xqy"
               name="lock">
         </prefix>
         <prefix
               path="MarkLogic/builtins/map.xqy"
               name="map">
         </prefix>
         <prefix
               path="MarkLogic/builtins/math.xqy"
               name="math">
         </prefix>
         <prefix
                path="MarkLogic/builtins/profile.xqy"
               name="prof">
         </prefix>
         <prefix
               path="MarkLogic/builtins/property.xqy"
               name="prop">
         </prefix>
         <prefix
               path="MarkLogic/builtins/spell.xqy"
               name="spell">
         </prefix>
         <prefix
               path="MarkLogic/builtins/xdmp.xqy"
               name="xdmp">
         </prefix>
         <prefix
               path="MarkLogic/builtins/xqe.xqy"
               name="xqe">
         </prefix>
      </prefixes>
   </extension>

</plugin>
