<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.wst.xquery.set.ui"
            name="Sausalito">
      </category>
      <wizard
            category="org.eclipse.wst.xquery.set.ui"
            class="org.eclipse.wst.xquery.set.internal.ui.wizards.SETNewProjectWizard"
            finalPerspective="org.eclipse.wst.xquery.ui.perspectives.XQueryPerspective"
            icon="$nl$/icons/obj16/project.gif"
            id="org.eclipse.wst.xquery.set.ui.wizards.SausalitoProject"
            name="Sausalito Project"
            preferredPerspectives="org.eclipse.wst.xquery.ui.perspectives.XQueryPerspective"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.wst.xquery.set.internal.ui.preferences.SETGlobalPreferencesPage"
            id="org.eclipse.wst.xquery.set.preferences"
            name="Sausalito">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.wst.xquery.set.internal.ui.SETUIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.eclipse.dltk.ui.DeclarativeLightweightLabelDecorator:/icons/ovr16/set_ovr.png"
            id="org.eclipse.wst.xquery.set.decorators.projectdecorator"
            label="Sausalito Project Decorator"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
			<and>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
               <objectState
                     name="projectNature"
                     value="org.eclipse.wst.xquery.set.core.nature">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.wst.xquery.set.internal.ui.preferences.SETSausalitoPropertyPage"
            id="org.eclipse.wst.xquery.set.properties"
            name="Sausalito">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.wst.xquery.set.core.nature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.eclipse.wst.xquery.set.properties"
            class="org.eclipse.wst.xquery.set.internal.ui.preferences.SETBuildPathPropertyPage"
            id="org.eclipse.wst.xquery.set.properties.BuildpathProperties"
            name="Build Path">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.wst.xquery.set.core.nature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.language">
      <language
            class="org.eclipse.wst.xquery.set.ui.SETUILanguageToolkit"
            nature="org.eclipse.wst.xquery.set.core.nature"
            priority="0">
      </language>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.eclipse.wst.xquery.set.ui.importWizards.category"
            name="Sausalito">
      </category>
      <wizard
            category="org.eclipse.wst.xquery.set.ui.importWizards.category"
            class="org.eclipse.wst.xquery.set.internal.ui.wizards.SETImportProjectWizard"
            icon="$nl$/icons/obj16/project.gif"
            id="org.eclipse.wst.xquery.set.ui.importProjectWizard"
            name="Sausalito Project">
         <description>
            Import Sausalito projects into the Eclipse workspace.
         </description>
      </wizard>
      <wizard
            category="org.eclipse.wst.xquery.set.ui.importWizards.category"
            class="org.eclipse.wst.xquery.set.internal.ui.wizards.SETImportModuleWizard"
            icon="$nl$/icons/obj16/xquery_obj.gif"
            id="org.eclipse.wst.xquery.set.ui.importModuleWizard"
            name="Sausalito Module">
         <description>
            Import a XQuery module into a Sausalito project.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.dltkElementFilters">
      <filter
            class="org.eclipse.wst.xquery.set.internal.ui.filters.SETHideTestFolderFilter"
            description="Hides the test folder of a Sausalito project. This folder might contain a large number of internal resources needed for running a Sausalito project. Disabling this filter might introduce latencies in the Eclipse user experience or even block it for some time."
            enabled="true"
            id="org.eclipse.wst.xquery.set.internal.ui"
            name="Sausalito test folder"
            targetId="org.eclipse.dltk.ui.ScriptExplorer"></filter>
   </extension>
   <extension
         point="org.eclipse.wst.xquery.ui.quickFixProcessors">
      <quickFixProcessor
            id="org.eclipse.wst.xquery.set.ui.quickfixes.ModuleDeclQuickFix"
            class="org.eclipse.wst.xquery.set.internal.ui.quickfixes.ModuleDeclQuickFix">
      </quickFixProcessor>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.wst.xquery.set.internal.ui.propertytesters.SETSausalitoProjectTester"
            id="org.eclipse.wst.xquery.set.ui.isInSausalitoProjectTester"
            namespace="org.eclipse.wst.xquery.set"
            properties="isInSausalitoProject"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.wst.xquery.set.ui.commands.coresdk"
            name="Sausalito CoreSDK Commands">
      </category>
      <command
            categoryId="org.eclipse.wst.xquery.set.ui.commands.coresdk"
            defaultHandler="org.eclipse.wst.xquery.set.internal.ui.handlers.SETDeployProjectCommandHandler"
            id="org.eclipse.wst.xquery.set.ui.commands.coresdk.deployProject"
            name="Deploy &amp;Project...">
      </command>
      <command
            categoryId="org.eclipse.wst.xquery.set.ui.commands.coresdk"
            defaultHandler="org.eclipse.wst.xquery.set.internal.ui.handlers.SETImportDataCommandHandler"
            id="org.eclipse.wst.xquery.set.ui.commands.coresdk.importData"
            name="&amp;Bulkload Data">
      </command>
      <command
            categoryId="org.eclipse.wst.xquery.set.ui.commands.coresdk"
            defaultHandler="org.eclipse.wst.xquery.set.internal.ui.handlers.SETDeleteDataCommandHandler"
            id="org.eclipse.wst.xquery.set.ui.commands.coresdk.deleteData"
            name="&amp;Delete Data">
      </command>
      <command
            categoryId="org.eclipse.wst.xquery.set.ui.commands.coresdk"
            defaultHandler="org.eclipse.wst.xquery.set.internal.ui.handlers.SETCreateDocCommandHandler"
            id="org.eclipse.wst.xquery.set.ui.commands.coresdk.createXqdoc"
            name="Create &amp;XQDoc">
      </command>
   </extension>
   <extension
         id="contextPopup"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <separator
               name="coresdk.group"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=coresdk.group">
         <menu
               icon="icons/obj16/scloud.gif"
               id="org.eclipse.wst.xquery.set.ui.popup.coresdk"
               label="Sausa&amp;lito">
            <separator
                  name="deploy"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.wst.xquery.set.ui.commands.coresdk.deployProject"
                  icon="icons/obj16/tocloud.gif"
                  style="push">
            </command>
            <separator
                  name="data"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.wst.xquery.set.ui.commands.coresdk.importData"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.wst.xquery.set.ui.commands.coresdk.deleteData"
                  style="push">
            </command>
            <separator
                  name="other"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.wst.xquery.set.ui.commands.coresdk.createXqdoc"
                  icon="icons/obj16/xqdoc.gif"
                  style="push">
            </command>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.wst.xquery.set.ui.definition.coresdkGroup">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="mainMenu"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.eclipse.wst.xquery.set.ui.menu.coresdk"
               label="&amp;Sausalito">
            <separator
                  name="deploy"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.wst.xquery.set.ui.commands.coresdk.deployProject"
                  icon="icons/obj16/tocloud.gif"
                  style="push">
            </command>
            <separator
                  name="data"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.wst.xquery.set.ui.commands.coresdk.importData"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.wst.xquery.set.ui.commands.coresdk.deleteData"
                  style="push">
            </command>
            <separator
                  name="other"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.wst.xquery.set.ui.commands.coresdk.createXqdoc"
                  icon="icons/obj16/xqdoc.gif"
                  style="push">
            </command>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.wst.xquery.set.ui.definition.coresdkGroup">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.wst.xquery.set.ui.definition.coresdkGroup">
         <and>
            <count
                  value="1">
            </count>
            <iterate>
               <or>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="org.eclipse.wst.xquery.set.core.nature">
                     </test>
                  </adapt>
                  <and>
                     <with
                           variable="activePartId">
                        <equals
                              value="org.eclipse.wst.xquery.ui.editor.XQDTEditor">
                        </equals>
                     </with>
                     <with
                           variable="activeEditor">
                        <test
                              property="org.eclipse.wst.xquery.set.isInSausalitoProject">
                        </test>
                     </with>
                  </and>
               </or>
            </iterate>
         </and>
      </definition>
   </extension>
</plugin>
