<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.wst.xquery.set.ui"
            name="Sausalito">
      </category>
      <wizard
            category="org.eclipse.wst.xquery.set.ui"
            class="org.eclipse.wst.xquery.set.internal.ui.wizards.SETNewProjectWizard"
            finalPerspective="org.eclipse.wst.xquery.ui.perspectives.XQueryPerspective"
            icon="$nl$/icons/obj16/project.gif"
            id="org.eclipse.wst.xquery.set.ui.wizards.SausalitoProject"
            name="Sausalito Project"
            preferredPerspectives="org.eclipse.wst.xquery.ui.perspectives.XQueryPerspective"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.wst.xquery.set.internal.ui.preferences.SETGlobalPreferencesPage"
            id="org.eclipse.wst.xquery.set.preferences"
            name="Sausalito">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.wst.xquery.set.internal.ui.SETUIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.wst.xquery.set.ui.popup.deploy.project"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.eclipse.wst.xquery.set.internal.ui.actions.SETDeployProjectAction"
               enablesFor="1"
               icon="$nl$/icons/obj16/tocloud.gif"
               id="org.eclipse.wst.xquery.set.ui.popup.deploy.action1"
               label="Dep&amp;loy Project..."
               menubarPath="additions"
               tooltip="Deploys this project into the cloud">
         </action>
            <visibility>
               <objectState
                     name="nature"
                     value="org.eclipse.wst.xquery.set.core.nature">
               </objectState>
            </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.wst.xquery.set.ui.popup.importData"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.eclipse.wst.xquery.set.internal.ui.actions.SETImportDataAction"
               enablesFor="1"
               id="org.eclipse.wst.xquery.set.ui.popup.importData.action"
               label="Import Data"
               menubarPath="additions"
               style="push"
               tooltip="Import data into this project">
         </action>
         <visibility>
            <objectState
                  name="nature"
                  value="org.eclipse.wst.xquery.set.core.nature">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.wst.xquery.set.ui.popup.deleteData"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.eclipse.wst.xquery.set.internal.ui.actions.SETDeleteDataAction"
               enablesFor="1"
               id="org.eclipse.wst.xquery.set.ui.popup.deleteData.action"
               label="Delete Data"
               menubarPath="additions"
               style="push"
               tooltip="Delete project data">
         </action>
         <visibility>
            <objectState
                  name="nature"
                  value="org.eclipse.wst.xquery.set.core.nature">
            </objectState>
         </visibility>
      </objectContribution>
<!--      
      <objectContribution
            adaptable="true"
            id="org.eclipse.wst.xquery.set.ui.popup.deployData"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.eclipse.wst.xquery.set.internal.ui.actions.SETDeployDataAction"
               enablesFor="1"
               id="org.eclipse.wst.xquery.set.ui.popup.deployData.action"
               label="Deploy Data..."
               menubarPath="additions"
               style="push"
               tooltip="Import data into this project">
         </action>
         <visibility>
            <objectState
                  name="nature"
                  value="org.eclipse.wst.xquery.set.core.nature">
            </objectState>
         </visibility>
      </objectContribution>
-->
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.wst.xquery.set.ui.ProjectActionSet"
            label="Sausalito Project Action Set"
            visible="true">
         <action
               class="org.eclipse.wst.xquery.set.internal.ui.actions.SETDeployProjectAction"
               enablesFor="1"
               icon="$nl$/icons/obj16/tocloud.gif"
               id="org.eclipse.dltk.ruby.debug.ui.actions.AddExceptionBreakpoint"
               label="Dep&amp;loy Project..."
               menubarPath="project/additions">
            <enablement>
               <objectState
                     name="nature"
                     value="org.eclipse.wst.xquery.set.core.nature">
               </objectState>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.eclipse.dltk.ui.DeclarativeLightweightLabelDecorator:/icons/ovr16/set_ovr.png"
            id="org.eclipse.wst.xquery.set.decorators.projectdecorator"
            label="Sausalito Project Decorator"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
			<and>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
               <objectState
                     name="projectNature"
                     value="org.eclipse.wst.xquery.set.core.nature">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.wst.xquery.set.internal.ui.preferences.SETSausalitoPropertyPage"
            id="org.eclipse.wst.xquery.set.properties"
            name="Sausalito">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.wst.xquery.set.core.nature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.eclipse.wst.xquery.set.properties"
            class="org.eclipse.wst.xquery.set.internal.ui.preferences.SETBuildPathPropertyPage"
            id="org.eclipse.wst.xquery.set.properties.BuildpathProperties"
            name="Build Path">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.wst.xquery.set.core.nature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.language">
      <language
            class="org.eclipse.wst.xquery.set.ui.SETUILanguageToolkit"
            nature="org.eclipse.wst.xquery.set.core.nature"
            priority="0">
      </language>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.eclipse.wst.xquery.set.ui.importWizards.category"
            name="Sausalito">
      </category>
      <wizard
            category="org.eclipse.wst.xquery.set.ui.importWizards.category"
            class="org.eclipse.wst.xquery.set.internal.ui.wizards.SETImportProjectWizard"
            icon="$nl$/icons/obj16/project.gif"
            id="org.eclipse.wst.xquery.set.ui.importProjectWizard"
            name="Sausalito Project">
         <description>
            Import Sausalito projects into the Eclipse workspace.
         </description>
      </wizard>
      <wizard
            category="org.eclipse.wst.xquery.set.ui.importWizards.category"
            class="org.eclipse.wst.xquery.set.internal.ui.wizards.SETImportModuleWizard"
            icon="$nl$/icons/obj16/xquery_obj.gif"
            id="org.eclipse.wst.xquery.set.ui.importModuleWizard"
            name="Sausalito Module">
         <description>
            Import a XQuery module into a Sausalito project.
         </description>
      </wizard>
   </extension>
</plugin>
