<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <!-- View and Editor Context Menu -->
   <extension
         id="org.eclipse.wst.xml.security.core.viewextension"
         name="org.eclipse.wst.xml.security.core.viewextension"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            nameFilter="*.xml"
            id="org.eclipse.wst.xml.security.core.objectContribution">
         <menu
               label="%xmlSecurityMenu"
               path="additions"
               id="xmlSecurityMenu">
            <groupMarker name="canonicalizeGroup"/>
            <separator name="canonicalizeSeparator"/>
            <groupMarker name="signGroup"/>
            <separator name="signSeparator"/>
            <groupMarker name="verifyGroup"/>
            <separator name="verifySeparator"/>
            <groupMarker name="encryptGroup"/>
            <separator name="encryptSeparator"/>
            <groupMarker name="decryptGroup"/>
         </menu>
         <action
               class="org.eclipse.wst.xml.security.core.actions.DecryptQuickAction"
               enablesFor="1"
               icon="icons/new_decrypt.gif"
               id="org.eclipse.wst.xml.security.core.actions.QuickDecryption"
               label="%quickDecryptionAction"
               menubarPath="xmlSecurityMenu/decryptGroup"
               tooltip="%quickDecryptionTooltip">
         </action>
         <action
               class="org.eclipse.wst.xml.security.core.actions.DecryptNewAction"
               enablesFor="1"
               icon="icons/new_decrypt.gif"
               id="org.eclipse.wst.xml.security.core.actions.NewDecryption"
               label="%newDecryptionAction"
               menubarPath="xmlSecurityMenu/decryptGroup"
               tooltip="%newDecryptionTooltip">
         </action>
         <action
               class="org.eclipse.wst.xml.security.core.actions.EncryptQuickAction"
               enablesFor="1"
               icon="icons/new_encrypt.gif"
               id="org.eclipse.wst.xml.security.core.actions.QuickEncryption"
               label="%quickEncryptionAction"
               menubarPath="xmlSecurityMenu/encryptGroup"
               tooltip="%quickEncryptionTooltip">
         </action>
         <action
               class="org.eclipse.wst.xml.security.core.actions.EncryptNewAction"
               enablesFor="1"
               icon="icons/new_encrypt.gif"
               id="org.eclipse.wst.xml.security.core.actions.NewEncryption"
               label="%newEncryptionAction"
               menubarPath="xmlSecurityMenu/encryptGroup"
               tooltip="%newEncryptionTooltip">
         </action>
         <action
               class="org.eclipse.wst.xml.security.core.actions.VerifyQuickAction"
               enablesFor="1"
               icon="icons/new_verify.gif"
               id="org.eclipse.wst.xml.security.core.actions.QuickVerification"
               label="%quickVerificationAction"
               menubarPath="xmlSecurityMenu/verifyGroup"
               tooltip="%quickVerificationTooltip">
         </action>
         <action
               class="org.eclipse.wst.xml.security.core.actions.VerifyNewAction"
               enablesFor="1"
               icon="icons/new_verify.gif"
               id="org.eclipse.wst.xml.security.core.actions.NewVerification"
               label="%newVerificationAction"
               menubarPath="xmlSecurityMenu/verifyGroup"
               tooltip="%newVerificationTooltip">
         </action>
         <action
               class="org.eclipse.wst.xml.security.core.actions.SignQuickAction"
               enablesFor="1"
               icon="icons/new_sign.gif"
               id="org.eclipse.wst.xml.security.core.actions.QuickSignature"
               label="%quickSignatureAction"
               menubarPath="xmlSecurityMenu/signGroup"
               tooltip="%quickSignatureTooltip">
         </action>
         <action
               class="org.eclipse.wst.xml.security.core.actions.SignNewAction"
               enablesFor="1"
               icon="icons/new_sign.gif"
               id="org.eclipse.wst.xml.security.core.actions.NewSignature"
               label="%newSignatureAction"
               menubarPath="xmlSecurityMenu/signGroup"
               tooltip="%newSignatureTooltip">
         </action>
         <action
               class="org.eclipse.wst.xml.security.core.actions.CanonicalizeAction"
               enablesFor="1"
               icon="icons/new_canon.gif"
               id="org.eclipse.wst.xml.security.core.actions.CanonicalizationRemoveComments"
               label="%newCanonicalizationAction"
               menubarPath="xmlSecurityMenu/canonicalizeGroup"
               tooltip="%newCanonicalizationTooltip">
         </action>
         <action
               class="org.eclipse.wst.xml.security.core.actions.CanonicalizeAction"
               enablesFor="1"
               icon="icons/new_canon.gif"
               id="org.eclipse.wst.xml.security.core.actions.CanonicalizationMaintainComments"
               label="%newCanonicalizationCommentsAction"
               menubarPath="xmlSecurityMenu/canonicalizeGroup"
               tooltip="%newCanonicalizationCommentsTooltip">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.wst.xml.security.core.verify.contextMenu"
            objectClass="org.eclipse.wst.xml.security.core.verify.VerificationResult">
         <action
               class="org.eclipse.wst.xml.security.core.actions.RefreshSignatures"
               icon="icons/refresh.gif"
               id="org.eclipse.wst.xml.security.core.actions.refreshSignatures"
               label="%refreshActionLabel"
               tooltip="%refreshActionTooltip">
         </action>
         <action
               class="org.eclipse.wst.xml.security.core.actions.ShowSignatureProperties"
               icon="icons/properties.gif"
               id="org.eclipse.wst.xml.security.core.actions.showSignatureProperties"
               label="%showPropertiesActionLabel"
               tooltip="%showPropertiesActionTooltip">
         </action>
      </objectContribution>
   </extension>
   <extension point="org.eclipse.ui.viewActions">
      <viewContribution
               id="org.eclipse.wst.xml.security.core.actions.signature.view"
               targetID="org.eclipse.wst.xml.security.core.views.SignatureView">
         <action
               class="org.eclipse.wst.xml.security.core.actions.RefreshSignatures"
               icon="icons/refresh.gif"
               id="org.eclipse.wst.xml.security.core.actions.refreshSignatures"
               label="%refreshActionLabel"
               tooltip="%refreshActionTooltip"
               menubarPath="additions"
               toolbarPath="additions"
               enablesFor="*">
         </action>
         <action
               class="org.eclipse.wst.xml.security.core.actions.ShowSignatureProperties"
               icon="icons/properties.gif"
               id="org.eclipse.wst.xml.security.core.actions.showSignatureProperties"
               label="%showPropertiesActionLabel"
               tooltip="%showPropertiesActionTooltip"
               menubarPath="additions"
               toolbarPath="additions"
               enablesFor="1">
         </action>
      </viewContribution>
   </extension>
   <!-- Views -->
   <extension
         id="org.eclipse.wst.xml.security.core.views"
         name="org.eclipse.wst.xml.security.core.views"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.wst.xml"
            class="org.eclipse.wst.xml.security.core.verify.SignatureView"
            icon="icons/new_verify.gif"
            id="org.eclipse.wst.xml.security.core.views.SignatureView"
            name="%xmlSignatureView">
      </view>
   </extension>
   <!-- Preference Pages -->
   <extension
         id="org.eclipse.wst.xml.security.core.preferences"
         name="org.eclipse.wst.xml.security.core.preferences"
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.wst.xml.ui.preferences.xml"
            class="org.eclipse.wst.xml.security.core.preferences.PreferencePageXmlSecurity"
            id="org.eclipse.wst.xml.security.core.preferences.XmlSecurity"
            name="%xmlSecurityPreferencePage">
      </page>
      <page
      		category="org.eclipse.wst.xml.security.core.preferences.XmlSecurity"
            name="%xmlSignaturePreferencePage"
            class="org.eclipse.wst.xml.security.core.preferences.PreferencePageSignature"
            id="org.eclipse.wst.xml.security.core.preferences.Signatures">
      </page>
      <page
      		category="org.eclipse.wst.xml.security.core.preferences.XmlSecurity"
            name="%xmlEncryptionPreferencePage"
            class="org.eclipse.wst.xml.security.core.preferences.PreferencePageEncryption"
            id="org.eclipse.wst.xml.security.core.preferences.Encryption">
      </page>
   </extension>
   <extension
         id="org.eclipse.wst.xml.security.core.preferenceinitializer"
         name="org.eclipse.wst.xml.security.core.preferenceinitializer"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.wst.xml.security.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <!-- Cheat Sheets -->
   <extension
         id="org.eclipse.wst.xml.security.core.cheatsheets"
         name="org.eclipse.wst.xml.security.core.cheatsheets"
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
   	  <category
   	  	name="%xmlSecurityCheatSheet"
   	  	id="org.eclipse.wst.xml.security.core.cheatsheets.category">
   	  </category>
   	  <cheatsheet
   	  	name="%signatureCheatSheet"
   	  	contentFile="$nl$/cheatsheets/sign.xml"
   	  	category="org.eclipse.wst.xml.security.core.cheatsheets.category"
   	  	id="org.eclipse.wst.xml.security.core.cheatsheets.sign">
   	  	<description>%signatureCheatSheetDescription</description>
   	  </cheatsheet>
   	  <cheatsheet
   	  	name="%verificationCheatSheet"
   	  	contentFile="$nl$/cheatsheets/verify.xml"
   	  	category="org.eclipse.wst.xml.security.core.cheatsheets.category"
   	  	id="org.eclipse.wst.xml.security.core.cheatsheets.verify">
   	  	<description>%verificationCheatSheetDescription</description>
   	  </cheatsheet>
   	  <cheatsheet
   	  	name="%encryptionCheatSheet"
   	  	contentFile="$nl$/cheatsheets/encrypt.xml"
   	  	category="org.eclipse.wst.xml.security.core.cheatsheets.category"
   	  	id="org.eclipse.wst.xml.security.core.cheatsheets.encrypt">
   	  	<description>%encryptionCheatSheetDescription</description>
   	  </cheatsheet>
   	  <cheatsheet
   	  	name="%decryptionCheatSheet"
   	  	contentFile="$nl$/cheatsheets/decrypt.xml"
   	  	category="org.eclipse.wst.xml.security.core.cheatsheets.category"
   	  	id="org.eclipse.wst.xml.security.core.cheatsheets.decrypt">
   	  	<description>%decryptionCheatSheetDescription</description>
   	  </cheatsheet>
   	  <cheatsheet
   	  	name="%quickFunctionsCheatSheet"
   	  	contentFile="$nl$/cheatsheets/quick.xml"
   	  	category="org.eclipse.wst.xml.security.core.cheatsheets.category"
   	  	id="org.eclipse.wst.xml.security.core.cheatsheets.quick">
   	  	<description>%quickFunctionsCheatSheetDescription</description>
   	  </cheatsheet>
   </extension>

</plugin>
