<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dltk.launching.interpreterInstallTypes">
      <interpreterInstallType
            class="org.eclipse.wst.xquery.internal.launching.zorba.ZorbaInstallType"
            id="org.eclipse.wst.xquery.launching.ZorbaInstallType">
      </interpreterInstallType>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
      <project-facet
            id="zorbaUriResolver">
         <label>
            Zorba URI Resolver
         </label>
         <member
               category="uriResolverCategory">
         </member>            
      </project-facet>
      <project-facet-version
            facet="zorbaUriResolver"
            version="1.0">
         <group-member
               id="uriResolvers">
         </group-member>
         <constraint>
            <conflicts
                  group="uriResolvers">
            </conflicts>
         </constraint>
         <action
               type="install">
            <delegate
                  class="org.eclipse.wst.xquery.internal.launching.zorba.ZorbaUriResolverFacetInstallActionDelegate">
            </delegate>
         </action>
         <action
               type="uninstall">
            <delegate
                  class="org.eclipse.wst.xquery.internal.core.facets.UriResolverFacetUninstallActionDelegate">
            </delegate>
         </action>
      </project-facet-version>
   </extension>
   <extension
         id="zorbaUriResolver"
         point="org.eclipse.wst.xquery.core.uriResolver">
      <resolver
            class="org.eclipse.wst.xquery.internal.launching.zorba.ZorbaUriResolver"
            interpreterInstallTypeID="org.eclipse.wst.xquery.launching.ZorbaInstallType">
      </resolver>
   </extension>
   <extension
         point="org.eclipse.wst.xquery.launching.builtinModules">
      <searchPath
            installType="org.eclipse.wst.xquery.launching.ZorbaInstallType"
            path="${interpreterContainer}/../include/zorba/modules"
            relative="false">
      </searchPath>
   </extension>

</plugin>
