<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="retryHandler" name="Sausalito CoreSDK web server retry handler" schema="schema/retryHandler.exsd"/>
   <extension
         point="org.eclipse.dltk.launching.interpreterInstallTypes">
      <interpreterInstallType
            class="org.eclipse.wst.xquery.set.internal.launching.CoreSDKInstallType"
            id="org.eclipse.wst.xquery.set.launching.CoreSDKInstallType">
      </interpreterInstallType>
   </extension>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="This searches for the Sausalito CoreSDK (either in a platform specific plug-in fragment or in default locations like: &quot;C:\Program Files\Sausalito-CoreSDK ${sdk_version}&quot; or &quot;/opt/sausalito&quot;"
            name="sdk_location"
            resolver="org.eclipse.wst.xquery.set.internal.launching.variables.CoreSdkLocationResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="This get&apos;s the version of a Sausalito CoreSDK"
            name="sdk_version"
            resolver="org.eclipse.wst.xquery.set.internal.launching.variables.CoreSdkVersionResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="This will resolve the proper sausalito script name on each platform"
            name="sausalito_script_exec"
            resolver="org.eclipse.wst.xquery.set.internal.launching.variables.CoreSdkExecNameResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="This will resolve the proper zorba executable name on each platform"
            name="sausalito_zorba_exec"
            resolver="org.eclipse.wst.xquery.set.internal.launching.variables.CoreSdkExecNameResolver"
            supportsArgument="false">
      </variable>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.wst.xquery.set.launching.SETLaunchConfigurationDelegate"
            id="org.eclipse.wst.xquery.set.launching.SETLaunchConfigurationType"
            modes="run,debug"
            name="Sausalito Application"
            sourceLocatorId="xqdtSourceLocator">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.dltk.core.buildParticipant">
      <buildParticipant
            class="org.eclipse.wst.xquery.launching.XQDTSemanticBuilderFactory"
            id="org.eclipse.wst.xquery.set.core.sausalitoSemanticBuilder"
            name="Sausalito Semantic Builder"
            nature="org.eclipse.wst.xquery.set.core.nature">
      </buildParticipant>
   </extension>
   <extension
         point="org.eclipse.wst.xquery.launching.builtinModules">
      <searchPath
            installType="org.eclipse.wst.xquery.set.launching.CoreSDKInstallType"
            path="${interpreterContainer}/../modules"
            relative="false">
      </searchPath>
   </extension>
   <extension
         point="org.eclipse.dltk.launching.interpreterInstalls">
      <interpreterInstall
            home="${sdk_location}/bin/${sausalito_script_exec}"
            id="defaultSausalitoCoreSDK"
            interpreterInstallType="org.eclipse.wst.xquery.set.launching.CoreSDKInstallType"
            name="Sausalito CoreSDK ${sdk_version}">
      </interpreterInstall>
      <interpreterInstall
            home="${sdk_location}/bin/${sausalito_zorba_exec}"
            id="defaultZorbaInstall"
            interpreterInstallType="org.eclipse.wst.xquery.launching.ZorbaInstallType"
            name="Sausalito Zorba">
      </interpreterInstall>
   </extension>
   <extension
         point="org.eclipse.debug.core.processFactories">
      <processFactory
            class="org.eclipse.wst.xquery.set.launching.SETRuntimeProcessFactory"
            id="org.eclipse.wst.xquery.set.launching.processFactory">
      </processFactory>
   </extension>

</plugin>
