<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.dltk.launching.interpreterInstallTypes">
      <interpreterInstallType
            class="org.eclipse.wst.xquery.set.internal.launching.CoreSDKInstallType"
            id="org.eclipse.wst.xquery.set.launching.CoreSDKInstallType">
      </interpreterInstallType>
   </extension>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="This searches for the Sausalito CoreSDK (either in a platform specific plug-in fragment or in default locations like: &quot;C:\Program Files\Sausalito 1.0.0&quot; or &quot;/opt/sausalito&quot;"
            name="sdk_loc"
            resolver="org.eclipse.wst.xquery.set.internal.launching.variables.CoreSdkLocationResolver"
            supportsArgument="false">
      </variable>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.wst.xquery.set.launching.SETLaunchConfigurationDelegate"
            id="org.eclipse.wst.xquery.set.launching.SETLaunchConfigurationType"
            modes="run,debug"
            name="Sausalito Application"
            sourceLocatorId="xqdtSourceLocator">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.dltk.core.buildParticipant">
      <buildParticipant
            class="org.eclipse.wst.xquery.launching.XQDTSemanticBuilderFactory"
            id="org.eclipse.wst.xquery.set.core.sausalitoSemanticBuilder"
            name="Sausalito Semantic Builder"
            nature="org.eclipse.wst.xquery.set.core.nature">
      </buildParticipant>
   </extension>
   <extension
         point="org.eclipse.wst.xquery.launching.builtinModules">
      <searchPath
            installType="org.eclipse.wst.xquery.set.launching.CoreSDKInstallType"
            path="${interpreterContainer}/../modules"
            relative="false">
      </searchPath>
   </extension>
   <extension
         point="org.eclipse.dltk.launching.interpreterInstalls">
      <interpreterInstall
            home="${sdk_loc}"
            id="defaultSausalitoCoreSDK"
            interpreterInstallType="org.eclipse.wst.xquery.set.launching.CoreSDKInstallType"
            name="Sausalito CoreSDK 1.0.8">
      </interpreterInstall>
   </extension>
   <extension
         point="org.eclipse.debug.core.processFactories">
      <processFactory
            class="org.eclipse.wst.xquery.set.launching.SETRuntimeProcessFactory"
            id="org.eclipse.wst.xquery.set.launching.processFactory">
      </processFactory>
   </extension>

</plugin>
