<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.wst.xquery.internal.ui.editor.XQDTEditor"
            contributorClass="org.eclipse.dltk.internal.ui.editor.SourceModuleEditorActionContributor"
            default="true"
            extensions="xq,xql,xqy,xquery"
            icon="$nl$/icons/obj16/xquery_obj.gif"
            id="org.eclipse.wst.xquery.ui.editor.XQDTEditor"
            name="XQuery Editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.wst.xquery.XQueryContentType">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.wst.xquery.internal.ui.XQDTUIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.language">
      <language
            class="org.eclipse.wst.xquery.ui.XQDTUILanguageToolkit"
            nature="org.eclipse.wst.xquery.core.nature"
            priority="0">
      </language>
   </extension>
   <extension
         id="fnFunctionProposalCategory"
         name="fn: Function Proposals"
         point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
      <proposalCategory
            icon="$nl$/icons/elcl16/fn_proposal.gif">
      </proposalCategory>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.eclipse.wst.xquery.internal.ui.templates.XQueryTemplateContentType"
            id="org.eclipse.wst.xquery.ui.templates.XQueryTemplateContentType"
            name="XQuery 1.1">
      </contextType>
      <contextType
            class="org.eclipse.wst.xquery.internal.ui.templates.XQueryUpdateTemplateContentType"
            id="org.eclipse.wst.xquery.ui.templates.XQueryUpdateTemplateContentType"
            name="XQuery Update Facility">
      </contextType>
      <contextType
            class="org.eclipse.wst.xquery.internal.ui.templates.XQueryScriptingTemplateContentType"
            id="org.eclipse.wst.xquery.ui.templates.XQueryScriptingTemplateContentType"
            name="XQuery Scripting Extension">
      </contextType>
      <contextType
            class="org.eclipse.wst.xquery.internal.ui.templates.XQueryFullTextTemplateContentType"
            id="org.eclipse.wst.xquery.ui.templates.XQueryFullTextTemplateContentType"
            name="XQuery Full Text">
      </contextType>
      <contextType
            class="org.eclipse.wst.xquery.internal.ui.templates.XPathFunctionContentType"
            id="org.eclipse.wst.xquery.ui.templates.XPathFunctionContentType"
            name="XPath Functions">
      </contextType>
      <contextType
            class="org.eclipse.wst.xquery.internal.ui.templates.XQDTStringTemplateContentType"
            id="org.eclipse.wst.xquery.ui.templates.XQDTStringTemplateContentType"
            name="String Completions">
      </contextType>
      <include
            file="templates/templates.xml"
            translations="templates/templates.properties">
      </include>
      <include
            file="templates/system-function-templates.xml"
            translations="templates/system-function-templates.properties">
      </include>
      <include
            file="templates/string-xml-templates.xml"
            translations="templates/string-xml-templates.properties">
      </include>
   </extension>
   <extension
         id="XQDTCodeCompletionProposalComputer"
         point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
      <scriptCompletionProposalComputer
            activate="false"
            categoryId="org.eclipse.dltk.ui.scriptNoTypeProposalCategory"
            class="org.eclipse.wst.xquery.internal.ui.text.codeassist.XQDTCompletionProposalComputer"
            toolkitId="org.eclipse.wst.xquery.core.nature">
         <partition
               type="__dftl_partition_content_type">
         </partition>
      </scriptCompletionProposalComputer>
   </extension>
   <extension
         id="XQDTFnFunctionProposalComputer"
         point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
      <scriptCompletionProposalComputer
            activate="false"
            categoryId="org.eclipse.wst.xquery.ui.fnFunctionProposalCategory"
            class="org.eclipse.wst.xquery.internal.ui.text.codeassist.XQDTFnFunctionProposalComputer"
            toolkitId="org.eclipse.wst.xquery.core.nature">
         <partition
               type="__dftl_partition_content_type">
         </partition>
      </scriptCompletionProposalComputer>
   </extension>
   <extension
         id="XQDTTemplateProposalComputer"
         point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
      <scriptCompletionProposalComputer
            activate="false"
            categoryId="org.eclipse.dltk.ui.templateProposalCategory"
            class="org.eclipse.wst.xquery.internal.ui.templates.XQDTTemplateProposalComputer"
            toolkitId="org.eclipse.wst.xquery.core.nature">
         <partition
               type="__dftl_partition_content_type">
         </partition>
      </scriptCompletionProposalComputer>
   </extension>
      <extension
            id="XQDTStringCompletionProposalComputer"
            name="String Proposals"
            point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
         <scriptCompletionProposalComputer
               activate="false"
               categoryId="org.eclipse.wst.xquery.ui.stringProposalCategory"
               class="org.eclipse.wst.xquery.internal.ui.text.codeassist.XQDTStringCompletionProposalComputer"
               toolkitId="org.eclipse.wst.xquery.core.nature">
            <partition
                  type="__xqdt_string">
            </partition>
         </scriptCompletionProposalComputer>
      </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.wst.xquery.ui"
            name="XQuery">
      </category>
      <wizard
            category="org.eclipse.wst.xquery.ui"
            class="org.eclipse.wst.xquery.internal.ui.wizards.XQDTNewProjectWizard"
            finalPerspective="org.eclipse.wst.xquery.ui.perspectives.XQueryPerspective"
            icon="$nl$/icons/obj16/xquery_exec.gif"
            id="org.eclipse.wst.xquery.ui.wizards.newproject"
            name="XQuery Project"
            preferredPerspectives="org.eclipse.wst.xquery.ui.perspectives.XQueryPerspective"
            project="true">
      </wizard>
      <wizard
            category="org.eclipse.wst.xquery.ui"
            class="org.eclipse.wst.xquery.internal.ui.wizards.XQDTNewModuleWizard"
            finalPerspective="org.eclipse.wst.xquery.ui.perspectives.XQueryPerspective"
            icon="$nl$/icons/obj16/xquery_obj.gif"
            id="org.eclipse.wst.xquery.ui.wizards.newmodule"
            name="XQuery Module"
            preferredPerspectives="org.eclipse.wst.xquery.ui.perspectives.XQueryPerspective"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.wst.xquery.internal.ui.preferences.XQDTGlobalPreferencesPage"
            id="org.eclipse.wst.xquery.preferences"
            name="XQuery">
      </page>
      <page
            category="org.eclipse.wst.xquery.preferences"
            class="org.eclipse.wst.xquery.internal.ui.preferences.XQDTEditorPreferencePage"
            id="org.eclipse.wst.xquery.preferences.editor"
            name="Editor">
      </page>
      <page
            category="org.eclipse.wst.xquery.preferences.editor"
            class="org.eclipse.wst.xquery.internal.ui.preferences.XQDTContentAssistPreferencePage"
            id="org.eclipse.wst.xquery.preferences.contentAssist"
            name="Content Assist">
      </page>
      <page
            category="org.eclipse.wst.xquery.preferences.editor"
            class="org.eclipse.wst.xquery.internal.ui.templates.XQDTTemplatesPreferencePage"
            id="org.eclipse.wst.xquery.preferences.templates"
            name="Templates">
      </page>
      <page
            category="org.eclipse.wst.xquery.preferences"
            class="org.eclipse.wst.xquery.internal.ui.preferences.XQDTLanguagePreferencePage"
            id="org.eclipse.wst.xquery.preferences.language"
            name="Language">
      </page>
      <page
            category="org.eclipse.wst.xquery.preferences"
            class="org.eclipse.wst.xquery.internal.ui.preferences.XQDTLibrariesPreferencePage"
            id="org.eclipse.dltk.xquery.preferences.UserLibraryPreferencePage"
            name="Libraries">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.wst.xquery.internal.ui.preferences.XQDTPropertyPage"
            id="org.eclipse.wst.xquery.properties"
            name="XQuery">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.wst.xquery.core.nature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.eclipse.wst.xquery.properties"
            class="org.eclipse.wst.xquery.internal.ui.preferences.XQDTLanguagePreferencePage"
            id="org.eclipse.wst.xquery.properties.language"
            name="Language">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.wst.xquery.core.nature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.eclipse.wst.xquery.properties"
            class="org.eclipse.wst.xquery.internal.ui.preferences.XQDTBuildPathPropertyPage"
            id="org.eclipse.wst.xquery.properties.BuildpathProperties"
            name="Build Path">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.wst.xquery.core.nature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.wst.xquery.internal.ui.perspectives.XQDTEditorPerspective"
            icon="$nl$/icons/obj16/xquery_exec.gif"
            id="org.eclipse.wst.xquery.ui.perspectives.XQueryPerspective"
            name="XQuery">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.buildpathContainerPage">
      <buildpathContainerPage
            class="org.eclipse.wst.xquery.internal.ui.wizards.XQDTUserLibraryWizardPage"
            id="org.eclipse.dltk.USER_LIBRARY"
            name="User Library"
            nature="org.eclipse.wst.xquery.core.nature">
      </buildpathContainerPage>
   </extension>
      <extension
            point="org.eclipse.ui.commands">
         <category
               id="org.eclipse.wst.xquery.ui.commands.xqueryCategory"
               name="XQuery">               
         </category>
         <command
               categoryId="org.eclipse.wst.xquery.ui.commands.xqueryCategory"
               id="org.eclipse.wst.xquery.ui.commands.xqdocCommand"
               name="Generate XQDoc...">
         </command>
      </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <menu
                  id="org.eclipse.wst.xquery.ui.menus.XQueryMenu"
                  label="XQuery"
                  mnemonic="X">
               <command
                     commandId="org.eclipse.wst.xquery.ui.commands.xqdocCommand"
                     icon="icons/elcl16/javadoc.gif"
                     id="org.eclipse.wst.xquery.ui.menus.xqdocCommand"
                     mnemonic="G">
               </command>
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.eclipse.wst.xquery.core.nature">
                        </test>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </menu>
         </menuContribution>
      </extension>
</plugin>
