<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2008, 2012 Oracle. All rights reserved.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v1.0, which accompanies this distribution
  and is available at http://www.eclipse.org/legal/epl-v10.html.

  Contributors:
    Oracle - initial API and implementation
 -->

<plugin>

	<!-- ***** expressions ***** -->

	<extension point="org.eclipse.core.expressions.definitions">
		<!-- A test for determining whether something has an EclipseLink JPA platform.
			Typical usage:
			<adapt type="org.eclipse.jpt.nosql.core.JpaPlatform$Config">
				<reference definitionId="org.eclipse.jpt.nosql.eclipselink.reference.hasEclipseLinkJpaPlatform"/>
			</adapt>
		 -->
		<definition id="org.eclipse.jpt.nosql.eclipselink.reference.hasEclipseLinkJpaPlatform">
			<test property="org.eclipse.jpt.nosql.core.jpaPlatformGroup" value="eclipselink"/>
		</definition>
		
	</extension>

	<!-- ***** content types ***** 

	<extension
		point="org.eclipse.core.contenttype.contentTypes">
		
		<content-type
			id="org.eclipse.jpt.nosql.eclipselink.core.content.orm"
			name="%ECLIPSELINK_ORM_XML_CONTENT"
			base-type="org.eclipse.jpt.jpa.core.content.mappingFile">
			<describer
				class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
				<parameter 
					name="element" 
					value="{http://www.eclipse.org/eclipselink/xsds/persistence/orm}entity-mappings"/>
			</describer>
		</content-type>
		
	</extension>
-->

	<!-- ***** resource types ***** 

	<extension 
		point="org.eclipse.jpt.common.core.resourceTypes">

		<resource-type
			id="org.eclipse.jpt.jpa.eclipselink.core.resource.orm_1_0"
			content-type="org.eclipse.jpt.jpa.eclipselink.core.content.orm"
			version="1.0">
			<base-type id="org.eclipse.jpt.jpa.core.resource.orm_1_0"/>
		</resource-type>

		<resource-type
			id="org.eclipse.jpt.jpa.eclipselink.core.resource.orm_1_1"
			content-type="org.eclipse.jpt.jpa.eclipselink.core.content.orm"
			version="1.1">
			<base-type id="org.eclipse.jpt.jpa.core.resource.orm_1_0"/>
		</resource-type>

		<resource-type
			id="org.eclipse.jpt.jpa.eclipselink.core.resource.orm_1_2"
			content-type="org.eclipse.jpt.jpa.eclipselink.core.content.orm"
			version="1.2">
			<base-type id="org.eclipse.jpt.jpa.core.resource.orm_1_0"/>
		</resource-type>

		<resource-type
			id="org.eclipse.jpt.jpa.eclipselink.core.resource.orm_2_0"
			content-type="org.eclipse.jpt.jpa.eclipselink.core.content.orm"
			version="2.0">
			<base-type id="org.eclipse.jpt.jpa.core.resource.orm_2_0"/>
		</resource-type>

		<resource-type
			id="org.eclipse.jpt.jpa.eclipselink.core.resource.orm_2_1"
			content-type="org.eclipse.jpt.jpa.eclipselink.core.content.orm"
			version="2.1">
			<base-type id="org.eclipse.jpt.jpa.core.resource.orm_2_0"/>
		</resource-type>

		<resource-type
			id="org.eclipse.jpt.jpa.eclipselink.core.resource.orm_2_2"
			content-type="org.eclipse.jpt.jpa.eclipselink.core.content.orm"
			version="2.2">
			<base-type id="org.eclipse.jpt.jpa.core.resource.orm_2_0"/>
		</resource-type>

		<resource-type
			id="org.eclipse.jpt.jpa.eclipselink.core.resource.orm_2_3"
			content-type="org.eclipse.jpt.jpa.eclipselink.core.content.orm"
			version="2.3">
			<base-type id="org.eclipse.jpt.jpa.core.resource.orm_2_0"/>
		</resource-type>

		<resource-type
			id="org.eclipse.jpt.jpa.eclipselink.core.resource.orm_2_4"
			content-type="org.eclipse.jpt.jpa.eclipselink.core.content.orm"
			version="2.4">
			<base-type id="org.eclipse.jpt.jpa.core.resource.orm_2_0"/>
		</resource-type>

		<resource-type
			id="org.eclipse.jpt.jpa.eclipselink.core.resource.orm_2_5"
			content-type="org.eclipse.jpt.jpa.eclipselink.core.content.orm"
			version="2.5">
			<base-type id="org.eclipse.jpt.jpa.core.resource.orm_2_1"/>
		</resource-type>

	</extension>

-->

	<!-- ***** JPA platforms ***** -->

	<extension
		point="org.eclipse.jpt.jpa.core.jpaPlatforms">

	<jpaPlatformGroup
        	id="eclipselink_nosql"
        	label="%ECLIPSELINK_PLATFORM_GROUP_LABEL"/>

		<jpaPlatform
	        id="eclipselink_nosql_2_5"
	        label="%ECLIPSELINK_NOSQL_2_5_x_PLATFORM"
	        factoryClass="org.eclipse.jpt.nosql.eclipselink.core.internal.EclipseLinkNoSql2_5JpaPlatformFactory"
	        group="eclipselink_nosql"
			jpaFacetVersion="2.1"/>

	</extension>
	
	
	<!-- ***** library validators ***** -->

	<extension
		point="org.eclipse.jpt.common.core.libraryValidators">
		
		<libraryValidator
			id="eclipselinkNoSqlLibraryValidator"
			class="org.eclipse.jpt.nosql.eclipselink.core.internal.libval.EclipseLinkUserLibraryValidator">
			<enablement>
				<and>
					<with variable="libraryProvider">
						<test property="org.eclipse.jpt.common.core.extendsId"
							value="jpa-user-library-provider"/>
					</with>
					<with variable="config">
						<adapt type = "org.eclipse.jpt.jpa.core.JpaPlatform$Config">
							<test property="org.eclipse.jpt.jpa.core.jpaPlatformGroup"
								value="eclipselink_nosql"/>
						</adapt>
					</with>
				</and>
			</enablement>
		</libraryValidator>
		
	</extension>


	<!-- ***** WTP Library Provider Framework Integration ***** 

	<extension 
		point="org.eclipse.jst.common.project.facet.core.libraryProviders">
		
		<provider 
			id="jpa-eclipselink1_0-user-library-provider" 
			extends="jpa-deprecated-user-library-provider"
			hidden="true">
		</provider>
		
		<provider 
			id="jpa-eclipselink1_1-user-library-provider" 
			extends="jpa-deprecated-user-library-provider"
			hidden="true">
		</provider>
		
		<provider 
			id="jpa-eclipselink1_2-user-library-provider" 
			extends="jpa-deprecated-user-library-provider"
			hidden="true">
		</provider>
		
		<provider 
			id="eclipselink2_0-user-library-provider" 
			extends="jpa-deprecated-user-library-provider"
			hidden="true">
		</provider>
		
		<provider 
			id="jpa-eclipselink2_1-user-library-provider" 
			extends="jpa-deprecated-user-library-provider"
			hidden="true">
		</provider>
		
	</extension>
	-->
	
	<!-- ***** builders ***** 

	<extension
		point="org.eclipse.core.resources.builders"
		id="builder"
		name="%builderName">

		<builder hasNature="false">
			<run class="org.eclipse.jpt.nosql.eclipselink.core.builder.EclipseLinkStaticWeavingBuilder"/>
		</builder>

	</extension>
-->

	<!-- ***** WTP resource factories ***** 

	<extension
		point="org.eclipse.wst.common.modulecore.resourceFactories">

		<resourceFactory
			class="org.eclipse.jpt.nosql.eclipselink.core.resource.orm.EclipseLinkOrmXmlResourceFactory"
			isDefault="true">
			<contentTypeBinding
				contentTypeId="org.eclipse.jpt.jpa.eclipselink.core.content.orm">
			</contentTypeBinding>
		</resourceFactory>

	</extension>
-->
</plugin>
